<title>Account registration form</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

<html>
  <body>
    <div id="leftPage">
      <div *ngIf="isGrid">
        <br/>
        <table id="table">
          <tr *ngIf="isHeader">
            <th>Name</th>    
            <th>Description</th>
            <th>size</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of Productlist">
            <td>{{item.Name}}</td>
            <td>{{item.Description}} </td>
            <td>{{item.Size}}</td>
            <td><a id="deleteButton" (click)="delete(item.Id)">Delete</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="rightPage">
      <div>
        <button (click)="OpenForm()" >Add New </button>
      </div>
      <div *ngIf="isForm">
        <div class="inputField"><label class="inputLabel">Name : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input class="inputText" [(ngModel)]="name" required ></div>
        <div class="inputField"><label class="inputLabel">Description :</label><input class="inputText" [(ngModel)]="description" required></div>
        <div class="inputField"><label class="inputLabel">Size : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input class="inputText" [(ngModel)]="size" required></div>
        <div><button (click)="savedata()">Submit </button></div>
        <br/>
      <div><button (click)="CloseForm()">Back </button></div>
      </div>
    </div>
  </body>
</html>
